<h2><%= @user.name.capitalize %>'s Practice Schedule for <%= @practice_schedule.gig.date %> </h2>
<%= @practice_schedule.practice_hours_per_day %> Hours a Day for Gig:
<a href="/gigs/<%= @user.id %>/<%= @practice_schedule.gig.id %>"><%= @practice_schedule.gig.date %></a>
<%= @practice_schedule.is_completed ? 'Complete' : 'In Progress' %>
<br>
<a href="/user/<%= @user.id %>/practice">All your practice schedules</a>
<br>
<a href="/gigs/new">Add new gig</a>
