<h2><%= @user.name %>'s Practice Schedule for <%= @practice_schedule.gig.date %> </h2>
<%= @practice_schedule.practice_hours_per_day %> Hours in a Day
<a href="gigs/<%= @user.id %>/gigs/<%= @practice_schedule.gig.id %>"><%= schedule.gig.date %></a>">The Gig</a>
<%= @practice_schedule.is_completed ? 'Complete' : 'In Progress' %>
